* {
    padding: 0;
    margin: 0;
}

.hot img, .sale img {
    margin-top: 39px;
}

.sale img {
    /* width: 82%!important; */
    height: 56%;
}

.hot h3, .sale h3 {
    padding-left: 26px;
}

.login p {
    padding: 16px;
    width: 242px;
    background: pink;
    margin-top: 40px;
    text-align: center;
    border-radius: 10px;
}

.login a {
    text-decoration: none;
    font-size: 20px;
    
}



.footer ul li a:hover {
    color:  red;
}

.footer ul li a {
    text-decoration: none;
}

.footer ul h3 {
    margin-bottom: 25px;
}

.footer ul {
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

p.return {
    font-size: 20px;
    text-align: center;
    background: pink;
    padding: 20px 0px;
    cursor: pointer;
}

.return a{
    text-decoration: none;

}

.header input {
    padding: 5px 20px;
    width: 500px;
    border: 1px solid red;
    border-radius: 10px;
}


.popular ul li {
    list-style: none;
    /* margin-top: 24px; */
    display: inline;
}

.nav ul li a:hover {
    color: red;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav {
    background: #3f3fbd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    margin-left: 100px;
    margin-top: 30px;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}

.navbar ul {
    display: inline-block;
}

.navbar ul:first-child {
    margin-right: 350px;
}

.nav .header input {
    width: 600px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
}

.header {
    margin-top: 15px;
    margin-left: 100px;
}

.header i.fas.fa-search {
    position: absolute;
    margin-left: -30px;
    margin-top: 5px;
}

.nav .header button {
    padding: 5px 25px;
    border: 1px solid red;
    border-radius: 8px;
    position: relative;
    margin-right: -30px;
}
.navbar ul li a i {
    padding-left: 10px;
}


.image{
    position: relative;
}
.image  .text{
    position: absolute;
    left: 100px;
    width: 300px;
    top: 200px;
}
.image .p img{
    width: 50%;
}
.image .p{
    position: absolute;

}
.text h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
.noidungchinh{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.noidungchinh h3{
    margin-top: 20px;
    
}

.popular h3 {
    padding-left: 10px;
}
.welcome, .popular, .hot, .sale{
    flex-basis: 25%;
}
.one_image img, .hot img, .sale img{
    width: 100%;
}
.two_images{
    display: flex;
}
.hot .name a, .sale .name a{
    text-decoration: none;
    color: white;
}
.hot .name, .sale .name {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: green;
    width: 154px;
    margin-left: 77px;
}
p.price {
    text-align: center;
    margin-top: 32px;
}